/* variables */
:root {
    font: 400 24px 'Roboto';
    scroll-behavior: smooth;
    --main-width: 750px;
    --grey: #808080;
    --purple: #8a2be2ff;
    --red: #ff4040;
    --shadow-color: rgb(0, 0, 255, .2);
}

* {
    font: 400 24px 'Roboto';
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

.page {
    background-color: #f1f5f8;
}

.page__container {
    width: 100%;
    max-width: var(--main-width);
    margin: 20px auto 20px;
}

.form {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    border: 2px solid var(--grey);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 8px 8px 2px 1px var(--shadow-color);
}

.form__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__name, .form__date {
    font: 400 20px 'Roboto';
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
}

.form__text {
    width: 100%;
    max-width: 500px;
    height: 100px;
    resize: none;
    font: 400 20px 'Roboto';
    padding: 10px;
    border-radius: 10px;
}

.form__input-container {
    width: 100%;
    max-width: 500px;
}

.form__send {
    align-self: flex-end;
    font: 400 20px 'Roboto';
    width: 100%;
    max-width: 150px;
    height: 40px;
    cursor: pointer;
    border-color: var(--grey);
    border-radius: 10px;
}

.just-validate-error-label {
    display: inline;
    font-size: 18px;
}

.comment {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    border: 2px solid var(--grey);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 2px 1px var(--shadow-color);
}

.comment-list {
    list-style-type: none;
}

.comment__name {
    font-weight: 500;
}

.comment__text {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

.comment__row {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.comment__date {
    font-weight: 500;
}

.comment__delete {
    font: 400 20px 'Roboto';
    width: 100%;
    max-width: 150px;
    height: 40px;
    cursor: pointer;
    border-color: var(--grey);
    border-radius: 10px;
    user-select: none;
}

/* like button */
.comment__like {
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: 0 20px;
    transition: 150ms all;
    background-color: var(--purple);
}

.comment__like.dislike .icon svg.prime {
    animation: dislike 550ms forwards ease-in-out;
}

.comment__like.active {
    background-color: var(--red);
}

.comment__like.active .counter {
    color: #000;
}

.comment__like.active .icon svg {
    color: #000;
}

.comment__like.active .icon svg.prime {
    animation: like 550ms forwards ease-in-out;
}

.comment__like .counter {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding: 10px 0 10px 10px;
    transition: 150ms all;
    user-select: none;
}

.comment__like .icon {
    padding: 10px;
    transition: 150ms all;
    position: relative;
    width: 30px;
    height: 30px;
}

.comment__like .icon svg {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.comment__like .icon svg.normal {
    z-index: 1;
    opacity: 0.5;
}

.comment__like .icon svg.prime {
    z-index: 2;
}

@keyframes dislike {
    0% {
        color: #000;
        transform: translate(0, 0%);
    }
    100% {
        color: var(--red);
        transform: translate(0, 300%) scale(0);
    }
}

@keyframes like {
    0% {
        color: #fff;
        transform: translate(0, 0%);
    }
    100% {
        color: var(--red);
        transform: translate(0, -300%) scale(0);
    }
}
